.hero-btn {
  background-color: powderblue;
  border-color: powderblue;
  align-items: center;
  font-family: "Alice", serif;
}

.header-btn {
  border-color: mediumblue;
  color: mediumblue;
}

.header-btn:hover {
  color: white;
  background-color: mediumblue;
  border: mediumblue;
}

.product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: dimgray;
  background-color: powderblue;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
}

.product button:hover {
  opacity: 0.7;
}

.hero-text > h1 {
  font-family: "Sacramento", cursive;
}
.hero-text > p {
  font-family: "Alice", serif;
}
