.navbar {
  background-color: powderblue;
  padding-left: 8%;
  padding-right: 7%;
}

.btn {
  border-radius: 25px;
}

.btn-outline-success {
  border-color: mediumblue;
  color: mediumblue;
}

.btn-primary {
  background-color: mediumblue;
  border-color: mediumblue;
  align-items: center;
}

.btn-outline-success:hover {
  color: white;
  background-color: mediumblue;
  border: mediumblue;
}

.carousel-inner {
  max-width: 90%;
  position: relative;
  margin: auto;
}
