.btn {
  border-radius: 25px;
}

.btn-outline-success {
  border-color: mediumblue;
  color: mediumblue;
}

.btn-outline-success:hover {
  color: white;
  background-color: mediumblue;
  border: mediumblue;
}

.btn-primary {
  background-color: mediumblue;
  border-color: mediumblue;
  align-items: center;
  font-family: "Alice", serif;
}

.carousel-inner {
  height: 130vh;
  position: relative;
  margin: auto;
  margin-top: 105px;
}

.hero-text {
  font-family: "Sacramento", cursive;
}

.navbar {
  background-color: powderblue;
  padding-left: 6%;
  padding-right: 6%;
  font-family: "Alice", serif;
}

.nav-item {
  font-size: 1.25rem;
  font-family: "Alice", serif;
}
