.carousel-slider {
  height: 130vh;
  position: relative;
  margin: auto;
  margin-top: 105px;
}

.footer-bar {
  font-family: "Alice", serif;
  font-size: 1.25em;
}

.header {
  background-color: powderblue;
  padding-left: 6%;
  padding-right: 6%;
  font-family: "Alice", serif;
  font-size: 1.25rem;
}

.product > p {
  color: #000;
  font-size: 22px;
}

.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 105px;
  text-align: center;
  font-family: "Alice", serif;
}

.product > img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
}

.product-col {
  flex: 25%;
  padding: 10px;
  max-width: 100%;
}
